.bg-about{
    background: yellow;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socail a, .ecome a{
    height: 300px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}